.h0 {
  font-size: 1.5rem;
  font-weight: bold;
}

.headline {
  font-size: 2.25rem;
  font-weight: 400;
}

#believe {
  font-style: italic;
  font-weight: 400;
}

.headline-extra {
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
}

.front-text {
  font-size: 1.5em;
}

/* SECOND HOME FRAME */
.container-home-2 {
  background-image: url(../images/keyboard.jpg);
  height: 100vh;
  color: var(--soft-white);
  text-shadow: 1px 3px var(--primary-color);
  font-size: 1.3rem;
}

.frame-icon {
  font-size: 3rem;
}

/* CV */
.cv-wrapper {
  font-size: 1.15rem;
  font-weight: 600;
  background-image: url(../images/newmorecode.jpg);
  color: var(--soft-white);
  text-shadow: 1px 3px var(--primary-color);
}

/* CONTACT ME */
.wrapper-contact {
  background-image: url(../images/ic.jpg);
  color: var(--soft-white);
  text-shadow: 2px 3px var(--primary-color);
  font-weight: 400;
}

.container-contact {
  font-size: 1.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#emailInput, #textArea {
  font-size: 1.2rem;
  background: transparent;
  color: var(--soft-white);
  border-color: var(--soft-white);
}

#emailInput {
  height: 35px;
}

/* NAV */
.navbar {
  font-family: var(--navbar-font);
  font-size: var(--navbar-font-size-under-lg);
  background-color: var(--extra-dark);
  height: 10vh;
  transform: perspective(100px);
  border-style: outset;
  border-width: 2px;
}

/* FOOTER */
.footer-bar {
  font-family: var(--main-item-font);
  font-size: var(--main-item-font-size-under-lg);
  background-color: var(--extra-dark);
  color: var(--soft-white);
  border-style: outset;
  border-width: 1px;
  border-color: black;
}

.social-icon {
  font-size: 1.25rem;
  color: var(--soft-white);
  margin-right: 0.1rem;
}
