:root {
  --main-font: 'Liberation Serif';
  --main-dark: #333333;
  --extra-dark: #222222;
  --navfooter-font: 'Laudatio';
  --soft-white: #c8c8c8;
  --secondary-text-color: #afafaf;
  --primary-color: #006400;
}
