---
title: "Projects"
layout: default
---
<!-- Normally it simply displays if isProject and handles changing page, but as I have one single dummy project I must loop -->
<div class="wrapper-projects">
  <div class="container">
    <div class="row mb-5">
      <div class="col pt-5">
        <h1 class="headline text-center">My projects library</h1>
      </div>
    </div>
      {% for node in site.pages %}
        {% if node.isProject %}
          {% if node.title=="Lorem Project" %}
            {% for k in (1..3) %}
              <div id="page-{{k}}">
                {% for j in (1..3) %}
                  <div class="row pb-5">
                    {% for i in (1..3) %}
                      <div class="col-12 col-md-6 col-lg-4 p-3">
                        <div class="card">
                          <img class="card-img-top" src="{{node.imgSrc}}" alt="Card image placeholder">
                          <div class="card-body text-center">
                            <h3 class="card-title">{{node.title}}</h3>
                            <p class="card-text text-justify">{{node.cardBody}}</p>
                            <a href="#" class="button button-dark">Read more</a>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
    <div class="row">
      <div class="col">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <!-- Elements contain some inline CSS and JS but I thought this makes what's going on clearer -->
            <li><a class="button-dark" href="#top" id="pagination-prev" style="display: none;" onclick="prevPage(this)">Previous</a></li>
            <li><a class="button-dark button-dark-active" href="#top" id="pagination-1" data-target="page-1" onclick="changePage(this)">1</a></li>
            <li><a class="button-dark" href="#top" id="pagination-2" data-target="page-2" onclick="changePage(this)">2</a></li>
            <li><a class="button-dark" href="#top" id="pagination-3" data-target="page-3" onclick="changePage(this)">3</a></li>
            <li><a class="button-dark" href="#top" id="pagination-next" onclick="nextPage(this)">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script src="js/projects.js"></script>
