<footer class="footer-bar">
  <div class="container pt-4 pb-4">
    <div class="row mb-5">
      <div class="col-8 text-left">
        <h2 class="mb-3"><strong>Panagiotis Jones</strong></h2>
        <p>Full-Stack Web & Software Developer</p>
      </div>
      <div class="col-4 text-left">
        <h2 class="mb-3">Contact</h2>
        <p class="small"><i class="far fa-envelope mr-2"></i> <em>panagiotisjones@gmail.com</em></p>
        <p class="small"><i class="fas fa-phone mr-2"></i> <em>+44 1342 336541</em></p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-8 text-left">
        <h2 class="mb-3">Links</h2>
        <ul class="footer-link-list">
          <li><a href="#" class="footer-link">Home</a></li>
          <li><a href="#" class="footer-link">Projects</a></li>
          <li><a href="#" class="footer-link">Digital CV</a></li>
          <li><a href="#" class="footer-link">Contact Me</a></li>
      </div>
      <div class="col-4 text-left">
        <h2 class="mb-3">Social</h2>
        <a href="#" class="social-icon"><i class="fab fa-facebook-square"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter-square"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-github-square"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-stack-overflow"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col small">
        <a href="#top" class="footer-link"><i class="fas fa-arrow-up mr-2"></i>Back to Top</a>
      </div>
    </div>
  </div>
</footer>
